{% extends "base.html.twig" %}
{% block title %}
	Se connecter
{% endblock %}
{% block body %}
	<!-- Page Header-->

	<header class="masthead" style="background-image: url('public/assets/img/contact-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>Se connecter</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="my-5">
						{{ creationSuccess ? "<p>Félicitation ! Votre compte a bien été créé, vous pouvez vous connecter à présent<p>" : ""}}
						<form id="contactForm" action="index.php?action=connect" method="post">
							<div class="form-floating">
								{{ name ? "<p>Le nom et/ou le mot de passe ne sont pas corrects<p>" : ""}}

								<input class="form-control" name="name" id="name" type="text" placeholder="Saisie ton name..." value="{{ name ? name: ""}}"/>
								<label for="name">Nom :</label>
							</div>
							<div class="form-floating">
								<input class="form-control" name="password" id="password" type="password" placeholder="Saisie ton mot de passe..."/>
								<label for="name">Mot de passe :</label>
							</div>
							<br/>


							<!-- Submit Button-->
							<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Se connceter</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
