{% extends "base.html.twig" %}
{% block title %}
	Créer son compte
{% endblock %}
{% block body %}
	<!-- Page Header-->

	<header class="masthead" style="background-image: url('public/assets/img/contact-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>Créer son compte</h1>
						<span class="subheading">Crée ton compte pour réagir à mes articles et discuter avec les membres de la communauté.</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>Création de Compte en 30 secondes</p>
					<div class="my-5">
						{% if errors %}
							<ul>
								{% for error in errors %}
									<li>{{ error }}</li>
								{% endfor %}
							</ul>
						{% endif %}
						<form id="contactForm" action="index.php?action=addUser" method="post">
							<div class="form-floating">
								<input class="form-control" name="name" id="name" type="text" placeholder="Saisie ton name..."/>
								<label for="name">nom :</label>
							</div>
							<div class="form-floating">
								<input class="form-control" name="email" id="email" type="text" placeholder="Saisie ton email..."/>
								<label for="email">Adresse Email :</label>


							</div>
							<div class="form-floating">
								<input class="form-control" name="password" id="password" type="password" placeholder="Saisie ton mot de passe..."/>
								<label for="name">Mot de passe :</label>
							</div>
							<div class="form-floating">
								<input class="form-control" name="password_confirm" id="password_confirm" type="password" placeholder="Confirme ton mot de passe..."/>
								<label for="name">Confirmation du mot de passe :</label>
							</div>
							<br/>
							<!-- Submit Button-->
							<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">S'inscrire</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
