{% extends "base.html.twig" %}
{% block title %}
	Créer son compte
{% endblock %}
{% block body %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('public/assets/img/contact-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>Créer son compte</h1>
						<span class="subheading">Crée ton compte pour réagir à mes articles et discuter avec les membres de la communauté.</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>Création de Compte en 30 secondes</p>
					<div class="my-5">
						<form id="contactForm" action="/view/frontend/sendRegistration.php" method="post">
							<div class="form-floating">
								<input class="form-control" name="pseudo" id="pseudo" type="text" placeholder="Saisie ton pseudo..."/>
								<label for="name">Pseudo :</label>
							</div>
							<div class="form-floating">
								<input class="form-control" name="first_name" id="first_name" type="text" placeholder="Saisie ton prénom..."/>
								<label for="name">Prénom :</label>

							</div>
							<div class="form-floating">
								<input class="form-control" name="last_name" id="last_name" type="text" placeholder="Saisie ton nom..."/>
								<label for="name">Nom :</label>

							</div>
							<div class="form-floating">
								<input class="form-control" name="email" id="email" type="email" placeholder="Saisie ton email..."/>
								<label for="email">Adresse Email :</label>


							</div>
							<div class="form-floating">
								<input class="form-control" name="password" id="password" type="password" placeholder="Saisie ton mot de passe..."/>
								<label for="name">Mot de passe :</label>
							</div>
							<div class="form-floating">
								<input class="form-control" name="password_confirm" id="password_confirm" type="password" placeholder="Confirme ton mot de passe..."/>
								<label for="name">Confirmation du mot de passe :</label>
							</div>
							<div class="form-floating">
								<textarea class="form-control" name="presentation" id="presentation" placeholder="Saisie ton message de présentation..." style="height: 12rem"></textarea>
								<label for="message">Message de présentation :</label>

							</div>
							<br/>
							<!-- Submit Button-->
							<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">S'inscrire</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
