{% extends "html.html.twig" %}
{% block title %}Contact
{% endblock %}
{% block body %}

	<!-- Page Header-->
	<header class="masthead" style="background-image: url('public/assets/img/contact-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="page-heading">
						<h1>Me Contacter</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content-->
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="my-5">
						{{ success ? "<p>Merci pour votre message, je vous repondrez le plus rapidement possible<p>" : ""}}


						<form id="contactForm" action="index.php?action=sendContactEmail" method="post">

							<div class="form-floating">
								<input class="form-control" name="contactName" id="contactName" type="text" placeholder="Saisie ton nom..."/>
								<label for="contactName">Nom :</label>
							</div>
							<div class="form-floating">
								<input class="form-control" name="contactEmail" id="contactEmail" type="text" placeholder="Saisie ton email..."/>
								<label for="contactEmail">Adresse Email :</label>
							</div>
							<div class="form-floating">
								<input class="form-control" name="ContactPhoneNumber" id="ContactPhoneNumber" type="text" placeholder="Saisie ton téléphone..."/>
								<label for="ContactPhoneNumber">Numero de téléphone :</label>
							</div>
							<div class="form-floating">
								<input class="form-control" name="message" id="message" type="text" placeholder="Saisie ton message..."/>
								<label for="message">Votre message :</label>
							</div>
							<br/>
							<!-- Submit Button-->
							<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
