{% extends "html.html.twig" %}


{% block title %}
	Sebdru.fr - Développeur Passionné
{% endblock %}
{% block body %}

	<!-- Page Header-->
	<header class="masthead" style="background-image: url('public/assets/img/landing-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Bienvenue
							{{ session.userInformation.name ? session.userInformation.name : "sur SebDru.fr"}}
						</h1>
						<span class="subheading">Le blog de Sébastien Dru, Développeur Passionné</span>
						<div class="py-4">

							<li class="list-inline-item">
								<a href="https://www.linkedin.com/in/s%C3%A9bastien-dru/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fab fa-linkedin fa-stack-1x fa-inverse "></i>

									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://github.com/sebzz07" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fab fa-github fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content-->
	<div class="container position-relative px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<div class="py-4 text-center">

					<img class="rounded-circle z-depth-2" alt="Photo de Sébastien Dru" src="public/assets/img_profil/13.jpeg">
					<h3>Sébastien Dru
					</h3>
					<p>Développeur php/Symfony</p>
					<a href="public/assets/CV_Sebastien_Dru.pdf" target="_blank">
						<span class="btn btn-danger">
							<span class="fa-stack fa-lg">
								<i class="fa-solid fa-file-pdf fa-2xl"></i>
							</span>Mon CV, c'est ici !</span>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
